@{
    ViewBag.Title = "Home Page";
}
<div id="mainContent">
    <div class="wrap">
        <div class="yellowHeader tc">
            <div class="bigLine">
                <a class="hiddenLink" title="Dynamic Sound Professional DJ Service" href="http://www.dynamicsoundonline.com">Dynamic Sound</a>
                Provides
            <a class="hiddenLink" title="Personalized Entertainment For Your Event" href="PersonalizedService/DynamicSoundPersonalizedService.htm">Personalized Entertainment</a>
                For Your Special Event!
            </div>
            <div class="bigLine">
                If You Are Planning A 
            <a class="hiddenLink" title="Dynamic Weddings Are The Best!" href="Dynamic%20Sound%20Weddings">Wedding Reception</a>
                A 
            <a class="hiddenLink" title="Dynamic Sound Rocks Corporate Events!" href="corporate/default.htm">Corporate Function</a>
                or A 
            <a class="hiddenLink" title="Dynamic Sound Is Awesome" href="formalevents/default.htm">Formal Event</a>
            </div>
            <div class="bigLine">
                <a class="hiddenLink" title="Dynamic Sound Professional DJ Service" href="http://www.dynamicsoundonline.com">Dynamic Sound</a>
                Will 
            <a class="hiddenLink" href="promise.htm">Guarantee</a>
                That You Will Experience The Best Party Ever!
            </div>
            <div>
                <a title="DJs In Bloomington, IL" href="http://www.djsinbloomingtonil.com">DJs in Bloomington, IL</a>
                <a title="DJs In Peoria, IL" href="http://www.djsinbloomingtonil.com">DJs In Peoria, IL</a>
                <a title="DJs In Champaign Urbana IL" href="http://www.djsinbloomingtonil.com">DJs In Champaign Urbana IL</a>
                <a title="DJs In Chicago, IL" href="http://www.djsinbloomingtonil.com">DJs In Chicago, IL</a>
            </div>
        </div>

        <div class="container">
            <div class="ib thirdBlock tc">
                <img src="~/Content/images/bannerphoto.jpg" width="250" height="161" alt="Dynamic Sound Weddings Bloomington - Normal, Illinois Disc Jockey" title="Dynamic Sound Weddings Bloomington - Normal, Illinois Disc Jockey">
            </div>
            <div class="ib thirdBlock tc">
                <img src="~/Content/images/DennisDJPicture.jpg" width="250" height="161" alt="Dennis A. Luna Dynamic Sound Bloomington - Normal, Illinois Disc Jockey" title="Dennis A. Luna Dynamic Sound Bloomington - Normal, Illinois Disc Jockey">
            </div>
            <div class="ib thirdBlock tc">
                <img src="~/Content/images/BridalPartyDance.jpg" width="250" height="161" alt="Dynamic Sound Weddings Bloomington - Normal, Illinois Disc Jockey" title="Dynamic Sound Weddings Bloomington - Normal, Illinois Disc Jockey">
            </div>
        </div>

        <div class="container">
            <div class="ib thirdBlock top">
                <ul class="bulletedList greyHeader">
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Weddings In Bloomington Normal Illinois" href="Dynamic%20Sound%20Weddings/default.htm">Weddings</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Anniversaries In Bloomington - Normal Illinois" href="anniversaries/default.htm">Anniversaries</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Corporate Functions In Bloomington - Normal Illionis" href="corporate/default.htm">Corporate Functions</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Formal Events In Bloomington - Normal Illinois" href="formalevents/default.htm">Corporate Functions</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Birthdays In Bloomington - Normal Illinois" href="birthdays/default.htm">Birthdays</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Reunions In Bloomington - Normal Illinois" href="reunions/default.htm">Reunions</a></li>
                    <li><a class="hiddenLink" title="Dynamic Sound DJs Dances In Bloomington - Normal Illinois" href="dances/default.htm">Dances</a></li>
                </ul>
            </div>
            <div class="ib thirdBlock bottom tc">
                <div class="yellowHeader" style="vertical-align: bottom;">THIS JUST IN:</div>
            </div>
            <div class="ib thirdBlock top">
                <ul class="bulletedList greyHeader">
                    <li>Personalized Service</li>
                    <li>All Music Formats</li>
                    <li>Attire To Match Your Event</li>
                    <li>State-of-the-Art Equipment</li>
                    <li>Lighting Systems Available</li>
                    <li>Free Party Planning Advice</li>
                    <li>Special Rates For Non-Profits</li>
                    <li>Over 28 Years Experience</li>
                </ul>
            </div>
        </div>
        <p class="whiteHeader">
            Dennis,
            <br />
            <br />
            Laura and I were at a <a class="hiddenLink">wedding</a> this past weekend in West Palm Beach, FL.&nbsp; 
        The reason why we're sending you a note is because that night, even more than back in September, we can't even 
        express to you what a phenomenal job you did.&nbsp; <a class="hiddenLink">The DJ at this wedding did everything wrong</a>, 
        from his physical appearance (long hair down to	his back with sunglasses holding his hair back and a dirty tux), to 
        playing the wrong songs for Father/Daughter and First Dance (although he eventually fixed the song issues when 
        the bride about smacked him).&nbsp; In addition, after his first <a class="hiddenLink">3 or 4 drinks (yes, he was 
        actually drinking),</a> his speech was slurred, which you can imagine made for a very....&quot;interesting&quot; period 
        of entertainment.
        </p>
        <p class="whiteHeader">
            After our <a class="hiddenLink">wedding</a>, and even until late last week, we talk constantly about the fantastic 
        job that you did, and that we absolutely made the right decision in working with you.&nbsp; However, after seeing 
        the tragedy that happened last weekend, we both decided that we had to thank you at least one more time, simply to 
        show our appreciation.&nbsp; The feeling of experiencing both what we got and what we could have had is interesting.&nbsp; 
        We're both <span class="ul">very very very VERY</span> pleased with what we got from you.&nbsp; We said it once before, and we'll say it 
        again....you need to charge more, you and your services are&nbsp;worth every penny and then some!
        </p>
        <p class="whiteHeader">
            Thank you once again, and take care!!!!<br />
            <a class="hiddenLink">Laura &amp; Scott</a>
        </p>
        <br />
        <br />
        <p class="whiteHeader">
            Dennis,
            <br />
            <br />
            The highpoint of our event was the entire thing! You were amazing! We had very specific music for our cocktail hour 
        which was also in a separate room from the reception and you accommodated for everything! You found all of the 
        requested music and set up another DJ System for the cocktail room! Once we went into the reception area we were blown 
        away by the DJ area for the reception! You had an amazing set-up of speakers, etc, and a fantastic lighting display! 
        Not only did you play everything that we requested, you also played music that kept the dance floor full at ALL times! 
        It was quite amazing how packed the dance floor was all night.
        </p>
        <p class="whiteHeader">
            Another really cute thing that you did for us was how you &amp; my dad had coordinated &amp; incorporated the music 
        for his speech...That was Awesome!
        </p>
        <p class="whiteHeader">
            Overall Dennis was an A++! He was awesome and so professional! He really 
        loves what he does and you can tell with his love to please his client's 
        special occasion!
        </p>
        <p class="whiteHeader">
            Thank you so much!<br />
            Bethany &amp; Darren
        </p>
    </div>
</div>
