<div id="footer" class="smallFont">
    <div class="wrap">
        <div class="yellowHeader tc">
            <a class="hiddenLink" title="Dynamic Sound Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Dynamic Sound</a>
            Is Fully Licensed &amp; Insured! 
        </div>
        <div class="whiteHeader tc">
            Is Your DJ? Call Us To Find Out If They Truly Are.
        </div>
        <div class="yellowHeader tc">

            <a class="hiddenLink" title="Dynamic Sound Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Dynamic Sound</a>
            Is Your Number 1 
            <a class="hiddenLink" title="Dynamic Sound Illinois Wedding Disc Jockey" href="">Wedding DJ</a>
            Providing Great Service For:
        </div><br />
        <div class="whiteHeader tc">
            <a title="Dynamic Sound DJs In Bloomington - Normal Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Bloomington - Normal</a> * 
        <a title="Dynamic Sound DJs In McLean County Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">McLean County</a> * 
        <a title="Dynamic Sound DJs In Central Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Central & Downstate Illinois</a> * 
        <a title="Dynamic Sound DJs In Peoria Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Peoria</a> * 
        <a title="Dynamic Sound DJs In Springfield Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Springfield</a> * 
        <a title="Dynamic Sound DJs In Quad Cities Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Quad Cities</a> *
        <a title="Dynamic Sound DJs In Chicago Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Chicago</a> * 
        <a title="Dynamic Sound DJs In Rockford Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Rockford</a> * 
        <a title="Dynamic Sound DJs In St. Louis, MO Wedding DJ" href="http://www.dynamicsoundonline.com">St. Louis</a>
        </div>
        <div class="container" style="margin-top: 10px;">
            <div class="ib quarterBlock tc top">
                <a href="https://www.facebook.com/pages/Dynamic-Sound/111256732224791" title="Dynamic Sound on Facebook">
                    <img alt="facebook link" src="https://badge.facebook.com/badge/111256732224791.3529.1487635691.png" width="98" height="124" />
                </a>
            </div>
            <div class="ib halfBlock tc yellowHeader">
                This Site Was Created By 
                <a class="hiddenLink" title="Dennis A. Luna Illinois Wedding DJ" href="Success.htm">Dennis A Luna</a>
                Copyright © 2001
                <br />

                <a class="hiddenLink" title="Dynamic Sound Illinois Wedding DJ" href="http://www.dynamicsoundonline.com">Dynamic Sound Professional DJ Service Bloomington Normal IL.</a>
                <br />

                All Rights Reserved Trade Mark 1985, 1995, 2005 Revised: 08/18/13.
                <br />

                <a target="_blank" title="Dynamic Sound Google Reviews" href="https://plus.google.com/115054529081641595757/about?hl=en#115054529081641595757/about?hl=en">Google Reviews</a>
                <a href="http://yellowpages.superpages.com/reviews/userreviews.jsp?C=Dynamic+Sound&L=Bloomington,+IL+61701&EG=2&LID=Hp/t+ZJp3mhnbN6l9y8dtQ==&PI=1&bidType=FLCLIK&attres=true&lbp=1&lrv=1" target="_blank" title="Dynamic Sound Super Pages Reviews">Super Pages Reviews</a>
                <a target="_blank" title="Dynamic Sound City Search Reviews" href="http://bloomington.citysearch.com/profile/629318190/bloomington_il/a_dynamic_sound.html#profileTab-reviews">City Search Reviews</a>
                <br />

                <a href="http://local.yahoo.com/info-17535614-dynamic-sound-bloomington;_ylt=AkJARk_GenjX0lXVHcNG78GKNcIF;_ylv=3?tab=reviews&allreviews=1#reviews" target="_blank" title="Dynamic Sound Yahoo Reviews">Yahoo Reviews</a>
                <a target="_blank" title="Dynamic Sound Wedding Book Reviews" href="http://www.weddingbook.com/vendors/dynamic_sound_3/profiles/music_dj/reviews">Wedding Book Reviews</a>
                <br />

                <a title="Dynamic Sound Professional DJ Service Bloomington - Normal, Illinois" href="http://www.uswebsites.com/submit/">
                    <img src="http://www.uswebsites.com/submit/images/newsubbut.gif" width="85" height="33" alt="Dynamic Sound Supports Submit! FREE Promotion" title="Dynamic Sound Supports Submit! FREE Promotion">
                </a>
                <a href="http://www.submitexpress.com/">
                    <img height="28" src="http://www.submitexpress.com/submitexpress.gif" width="88" alt="Dynamic Sound Supports Submit Express" title="Dynamic Sound Supports Submit Express">
                </a>
                <br />

                <a href="http://cdn.automaticsitemap.com/badge/verify/41778.html">
                    <img alt="Increase your website traffic with AutomaticSiteMap.com" src="http://cdn.automaticsitemap.com/badge/img/41778/1.png">
                </a>
                <!-- BEGIN AutomaticSiteMap | Site 41778 | Search -->
                <script type="text/javascript" src="http://cdn.automaticsitemap.com/badge/js/41778/core.js"></script>
                <br />

                <form action="http://cdn.automaticsitemap.com/sitemap/41778/search.html" method="get">
                    <p class="tc">
                        <input type="text" name="q" style="width: 150px; font-size: 10px;">
                        <input type="submit" value="Search" style="font-size: 10px;">
                    </p>
                </form>
                <p class="tc">
                    <span class="whiteHeader" style="font-size: 10px;">powered by <a href="http://www.automaticsitemap.com/">AutomaticSiteMap</a>
                    </span>
                </p>

                <a title="Site Page Rank" href="http://www.automaticsitemap.com/pagerank-badge.jsp">
                    <script src="http://cdn.automaticsitemap.com/badge/pagerank.js"></script>
                </a>
            </div>
            <div class="ib quarterBlock tc top">
                <a href="http://www.dynamicsoundonline.com">
                    <img src="~/Content/images/ASCAPLicensed.gif" width="70" height="55" alt="Do Not Copy! All Rights Reserved. ASCAP" title="Do Not Copy! All Rights Reserved. ASCAP">
                    <img src="~/Content/images/BMILicense.jpg" width="62" height="56" alt="Do Not Copy! All Rights Reserved. BMI" title="Do Not Copy! All Rights Reserved. BMI">
                </a>
                <br />

                <a href="http://www.dynamicsoundonline.com">
                    <img src="~/Content/images/SESACLicense.jpg" width="132" height="27" alt="Do Not Copy! All Rights Reserved. SESAC" title="Do Not Copy! All Rights Reserved. SESAC">
                </a>
            </div>
        </div>
    </div>
</div>
