<div class="leftNav">
    <div class="tc">
        <a target="_parent" href="http://www.dynamicsoundonline.com/">
            <img src="~/Content/images/Dynamic Sound (Web-Small).jpeg" width="121" height="103" alt="Dynamic Sound Professional DJ Service" title="Dynamic Sound Professional DJ Service" />
        </a>
    </div>
    <div class="tc whiteHeader">
        <br />
        <span>309-829-5195</span>
        <br/>
        <span>888-350-5195</span>
    </div>
    <div class="tc yellowHeader">
        <span class="smallFont">Proud Member of the:</span><br/>
        <img src="~/Content/images/cidja.jpg" width="50" height="56" alt="Dynamic Sound Is A Founding Memeber of The Central Illinois Disc Jockey Association" title="Dynamic Sound Is A Founding Memeber of The Central Illinois Disc Jockey Association">
        <br/>
        Central IL DJ Association
    </div>
</div>
